body {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.568);
}

header {
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #ff0000;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: 15px;
    margin: 10px;
}

.article-but {
    text-decoration: none;
    background-color: rgb(88, 30, 30);
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    .article-but: pink;
}

footer {
    background-color: rgb(107, 53, 62);
    padding: ;
    display: flex;
    padding: 10px 20px 10px 20px;
}


footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
.article-but {

    background-color: yellow;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    .article-but: pink;
}
